<div class="simple-calendar">
  <%= link_to "前週", start_date: date_range.first - 1.day %>
  <!-- Week <%= start_date.strftime("%U").to_i %> -->
  <%= link_to "翌週", start_date: date_range.last + 1.day %>
  <% reservations = Reservation.reservations_after_three_month %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>時間</th>
        <% date_range.slice(0, 7).each do |day| %>
          <th class="<%= 'text-primary' if day.saturday? %><%= 'text-danger' if day.sunday? %>">
            <%= I18n.t("date.day_names")[day.wday] %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <% date_range.slice(0, 7).each do |day| %>
          <%= content_tag :td, class: calendar.td_classes_for(day) do %>
            <span class="<%= 'text-primary' if day.saturday? %><%= 'text-danger' if day.sunday? %>">
              <%= day.day %>
            </span>
          <% end %>
        <% end %>
      </tr>
      <% times.each do |time| %>
        <tr>
          <td><%= time %></td>
          <% date_range.slice(0, 7).each do |day| %>
            <td>
            <% if day.to_date < Date.today || check_reservation(reservations, day, time) %>
                <%= '×' %>
              <% else %>
                <%= link_to new_reservation_path(day: day, time: time) do %>
                  <span class="reservation-indicator">○</span>
                 <% end %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>