<%= stylesheet_link_tag 'login', media: 'all', 'data-turbolinks-track': 'reload' %>
<header class="site-header">
  <div class="header-container">
    <%= link_to root_path, class: "site-logo-link" do %>
      <h1 class="site-logo">mizunophoto</h1>
    <% end %>
  </div>
</header>
<div class="login-container">
  <h2>ログイン</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "mail@example.com" %>
    </div>

    <div class="field">
      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <div class="field help-links">
      <%= link_to "パスワードを忘れた方", new_password_path(resource_name) %>
      <!--<%= link_to "ログインでお困りの方", "#" %> -->
    </div>

    <div class="actions">
      <%= f.submit "ログイン", class: "login-button" %>
    </div>
  <% end %>

  <div class="register-link">
    <%= link_to "会員登録はこちら", new_registration_path(resource_name) %>
  </div>
</div>